h2 {
  font-size: 2em;
  font-weight: 300;
  margin-top: 0;
}

h3 {
  font-weight: 300;
  margin: 0;
}

p#date {
  color: #444444;
}

p {
  font-size: 13px;
  font-weight: 400;
}

body {
  background-color: #eeeeee;
  padding-top: 1.3em;
}