header {
    background-color:green;
    color:white;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float: right;
    padding:5px;
}
section {
    width:350px;
    float:left;
    padding:10px;
}
footer {
    background-color:green;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

iframe {

    display: block;
    margin: 0 auto;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 8px 8px 0 #000000;
}

footer {

    display : block;
    margin-top: 50px;

}